
.paging-select{
    width: auto;
}

.paging-input-block{
    margin-left: 10px;
}
.paging-input{
    color: black;
    margin-left: 3px;
}

.paging-total-input{
    color: black;
    text-align: center;
    margin-left: 3px;
}

:read-only.paging-total-input{
    background-color: white;
    color: black;
}
.paging-total-page-number{
    margin-left: 3px;
    margin-right: 3px;
}
:read-only.paging-total-page-number{
    background-color: white;
    color: black;
}
.paging-drop-ul{
    list-style: none;
}
.paging-drop-ul li{
    color: black;
    text-decoration: none;
    padding: 0;
}
.paging-select-drop{
    margin-left: 3px;
}
.paging-select-drop-btn{
    border: 1px solid rgb(219, 219, 219);
}
.dropdown-menu{
    min-width: auto;
    padding: 0;
}

.paging-select-option{
    text-decoration: none;
    color: black;
    padding: 1px 5px;
    text-decoration-style: solid;
}

.export-file{
    margin-left: 3px;
}

.form-label-class{
    font-weight: bolder;
    font-family: "Inter","Helvetica Neue",Arial,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.label-symbol{
    color: red;
    margin-right: 1px;
}
:read-only.form-input-class{
    background-color: white;
    color: black;
    border-right: 2px solid orange;
}
.form-change-class{
    border-right: 2px solid limegreen;
}