<div th:fragment="sidebar">
    <nav id="sidebar" class="sidebar js-sidebar">
        <div class="sidebar-content js-simplebar">
            <a class="sidebar-brand" th:href="@{/dashboard}">
                <span class="align-middle">Dashboard</span>
            </a>

            <ul class="sidebar-nav">
<!--                <li class="sidebar-header">-->
<!--                    Pages-->
<!--                </li>-->

                <li class="sidebar-item">
                    <a class="sidebar-link" th:href="@{/dashboard}">
                        <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link" th:href="@{/sys-module}">
                        <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">System modules</span>
                    </a>
                </li>

                <!--/*@thymesVar id="systems" type=""*/-->
                <li th:each="item : ${session.systems}" class="sidebar-item">
                    <a class="sidebar-link" th:href="@{/profile}">
                        <i class="align-middle" data-feather="user"></i> <span class="align-middle">Profile</span>
                    </a>
                </li>


                <li class="sidebar-item">
                    <a class="sidebar-link" th:href="@{/login}">
                        <i class="align-middle" data-feather="user"></i> <span class="align-middle">Sign In</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link text-info" th:href="@{/logout}">
                        <i class="align-middle" data-feather="log-out"></i> <span class="align-middle">Log out</span>
                    </a>
                </li>

            </ul>
        </div>
    </nav>
</div>
