<div th:fragment="sidebar">
    <nav id="sidebar" class="sidebar js-sidebar">
        <div class="sidebar-content js-simplebar">
            <a class="sidebar-brand" th:href="@{/dashboard}">
                <span class="align-middle">Dashboard</span>
            </a>

            <ul class="sidebar-nav">
                <li class="sidebar-header">
                    Pages
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link" th:href="@{/dashboard}">
                        <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link" th:href="@{/sign-in}">
                        <i class="align-middle" data-feather="user"></i> <span class="align-middle">Sign In</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link" th:href="@{/user-register}">
                        <i class="align-middle" data-feather="book"></i> <span class="align-middle">User registration</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link" th:href="@{/bank-employee}">
                        <i class="align-middle" data-feather="book"></i> <span class="align-middle">Bank employee</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link" th:href="@{/bank-block}">
                        <i class="align-middle" data-feather="book"></i> <span class="align-middle">Bank block</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link" th:href="@{/bank-directorate}">
                        <i class="align-middle" data-feather="book"></i> <span class="align-middle">Bank directorate</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link" th:href="@{/bank-department}">
                        <i class="align-middle" data-feather="book"></i> <span class="align-middle">Bank department</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
